@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.App {
  text-align: center;
}

body {
  height: 100vh;
  background-color: #5d1343;
  overflow: hidden;
}

#surveyPage, #surveyForm {
  padding: 1rem;
  width: 300px;
  margin: 25px auto;
  background-color: white;
  border-radius: 12px;
  border: 3px solid #bc6d96;
}

#done {
  color: white;
  font-size: 4ch;
  margin: 20px;
}

#doneSubtext{
  font-size: 1ch; 
}

table td {
  border: 5px solid white;
}